<div class="container">
  <pb-title pageTitle="Add Contact"></pb-title>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Create a new contact</h4>
    </div>

    <div class="panel-body">
      <form
        class="form-horizontal"
        novalidate
        (ngSubmit)="saveContact()"
        [formGroup]="contactForm"
      >
        <div class="form-group">
          <label class="col-md-2 control-label" for="contactName">Name</label>
          <div class="col-md-8">
            <input
              class="form-control"
              id="contactName"
              type="text"
              placeholder="Name (required)"
              formControlName="firstname"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="contactLastname">Last name</label>
          <div class="col-md-8">
            <input
              class="form-control"
              id="contactLastname"
              type="text"
              placeholder="Last name (required)"
              formControlName="lastname"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="email">Email</label>
          <div class="col-md-8">
            <input
              class="form-control"
              id="email"
              type="text"
              placeholder="email"
              formControlName="email"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="phone">Phone</label>
          <div class="col-md-8">
            <input
              class="form-control"
              id="phone"
              type="text"
              placeholder="phone (required)"
              formControlName="phone"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="kindship">Kindship</label>
          <div class="col-md-8">
            <label>
              <input
                type="radio"
                value="home"
                name="kindship"
                formControlName="kindship"
              >
              Relative
            </label>
            <label>
              <input
                type="radio"
                value="heart"
                name="kindship"
                formControlName="kindship"
              >
              Girlfriend/Boyfriend
            </label>
            <label>
              <input
                type="radio"
                value="glass"
                name="kindship"
                formControlName="kindship"
              >
              Friend
            </label>
            <label>
              <input
                type="radio"
                value="lock"
                name="kindship"
                formControlName="kindship"
              >
              Co-worker
            </label>
          </div>
        </div>

        <div formGroupName="address">
          <div class="form-group">
            <label class="col-md-2 control-label" for="street">Street</label>
            <div class="col-md-8">
              <input
                class="form-control"
                id="street"
                type="text"
                placeholder="Street"
                formControlName="street"
              />
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label" for="city">City, State, Zip Code</label>
            <div class="col-md-3">
              <input
                type="text"
                class="form-control"
                id="city"
                placeholder="City"
                formControlName="city"
              >
            </div>
            <div class="col-md-3">
              <select
                id="state"
                class="form-control"
                formControlName="state"
              >
                <option value="" disabled selected hidden>Select a State...</option>
                <option value="COA">Coahuila</option>
                <option value="NL">Nuevo León</option>
                <option value="CH">Chihuahua</option>
                <option value="JAL">Jalisco</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="number"
                class="form-control"
                id="zipcode"
                placeholder="Zip Code"
                formControlName="zipcode"
              >
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
            <span>
              <button
                class="btn btn-primary"
                type="submit"
                style="width:80px;margin-right:10px"
              >
                Save
              </button>
            </span>
            <span>
              <a
                class="btn btn-default"
                style="width:80px"
                [routerLink]="['/contacts']"
              >
                Cancel
              </a>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<pre>
  {{contactForm.value | json}}
</pre>
