<div class="panel panel-primary">
  <div class="panel-body">
    <div class="wizard">
      <a [routerLink]="['info']" routerLinkActive="active">
        Basic Information
        <span [ngClass]="{'glyphicon glyphicon-exclamation-sign': contactInfoForm.invalid}"></span>
      </a>
      <a [routerLink]="['address']" routerLinkActive="active">
        Address Information
      </a>
    </div>
    <router-outlet
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    ></router-outlet>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <span>
          <button
            class="btn btn-primary"
            type="button"
            style="width:80px;margin-right:10px"
            [disabled]="contactForm.invalid || contactInfoForm.invalid || contactAddressForm.invalid"
            (click)="saveContact()"
          >
            Save
          </button>
        </span>
        <span>
          <a
            class="btn btn-default"
            [routerLink]="['/contact/list']"
          >
           Cancel
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
