<nav class='navbar navbar-default'>
    <div class='container'>
        <a class='navbar-brand'>{{pageTitle}}</a>
        <ul class='nav navbar-nav'>
            <li routerLinkActive="active"><a [routerLink]="['/home']">Home</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/contacts']">Contact List</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/contact/add']">Add Contact</a></li>
        </ul>
    </div>
</nav>
<spinner class="spinner" [size]="25" [tickness]="2" *ngIf="loading"></spinner>
<section class='container'>
  <router-outlet></router-outlet>
</section>
